@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

a {
  text-decoration: none;
}

.Space {
  padding-top: 4.5em;
}
.Home-ancor,
.header-feedback {
  color: indianred !important;
}
.Hover-nav,
.Hover-nav-Home,
.Hover-nav-Dropdown {
  transition: 0.4s;
}

.nav-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.Hover-nav-Home:hover {
  background-color: indianred !important;
  color: white !important;
  border-radius: 5px;
  transform: scale(0.8);
  text-transform: uppercase;
}

.Hover-nav:hover {
  background-color: indianred !important;
  border-radius: 5px;
  transform: scale(0.8);
  text-transform: uppercase;
}

.Hover-nav-Dropdown:hover {
  background-color: indianred !important;
  border-radius: 5px;
  padding-left: 1.5em;
  text-transform: uppercase;
}

.height {
  height: 100vh;
}

.back-col {
  background-color: #f3f3f3;
  border-radius: 30px;
}

.col-but {
  background-color: #0866ff;
}

.col-but1 {
  background-color: crimson;
}

.b-col {
  background-color: green;
}

.b1-col {
  background-color: blue;
}

.hover-button {
  transition: 0.4s;
}

.hover-button:hover {
  transform: scale(1.1);
}

.hover-ancor:hover {
  text-decoration: underline;
}

.footer {
  background-color: #343a40;
}

.footer .top-footer .fas {
  font-size: 4.5em;
}

.top-footer {
  gap: 1.5em;
}

.footer a:hover {
  color: indianred;
}

.fa-facebook-f:hover {
  color: #1548b8;
}

.fa-twitter:hover {
  color: #1da1f2;
}

.fa-whatsapp:hover {
  color: #089282;
}

.fa-youtube:hover {
  color: #ff0000;
}
.footer a {
  color: white;
}
